{% extends "default.html.twig" %}

{% block title %}
    Error
{% endblock %}
{% block body %}
<div class="container" id="run">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 top-50" >
            <p><br></p>
            <p>{%  if isApiResponse | default (0) %}Api {%  endif %} errors: {{ errors | join ('<br>') }}</p>

            <a href="/">Back</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}